<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    
<center><h2>Adding Table page - Only by Management Team</h2></center><br><hr><br><br>

<div align="center">
<form action="/saveTable" method="post">

Table Capacity : <input type="text" name ="capacity" placeholder="Maximum Guest "/><hr><br>
Is Reserved    : <input type="text" name="isReserved" placeholder="Type : true/false"/><br><hr><br>
<center><input type="submit" value="Add Table"/></center>

<h3><a href="/displayTable">Display all Table</a></h3><br>
<h3><a href="/checkReservation">delete</a></h3><br>
<h3><a href="/checkReservation">All Reservation</a></h3><br>

</form>

</div>

</body>
</html>