<style>
  table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #ffffff;
  }
  </style>
  
  <h2>Fuel History</h2>
  <table class="GeneratedTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Gallons Requested</th>
        <th>Total Amount Due</th>
        <th>Suggested Price</th>
        <th>Delivery Address</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="quote : ${quotes}">
        <td><span th:text="${quote.getdeliveryDate()}"></span></td>
        <td><span th:text="${quote.getgallonsRequested()}">Gallons Requested</span></td>
        <td><span th:text="${quote.gettotalPrice()}">Total Amount Due</span></td>
        <td><span th:text="${quote.getsuggestedPrice()}">Suggested Price</span></td>
        <td><span th:text="${quote.getdeliveryAddress()}">Delivery Address</span></td>
      </tr>
    </tbody>
  </table>
  <a href='/fuelquote'><button>Return to fuel quote page</button></a>