<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <center>
    <form action="#" th:action="@{/registration}" th:object="${registrationModel}" method="post">
        <h1>Registration</h1><br><hr><br>
        <label>User name:</label><br>
        <input type="text" amxlength="50" th:field="*{username}" required="required" /><br>
        <label>Password:</label><br>
        <input type="password" th:field="*{password}" required="required" /><br>

        <input type="submit" value="Register" />
    </form>
</center>
</body>
</html>