
<!DOCTYPE html>
<!--
So basically the purpose of this specific html file is to handle input for a given Fuel Quote request.
After the user requests a Quote they will be directed to this page to input gallonsRequested and
deliveryDate. After they click submit, suggestedPrice and totalAmountDue will be calculated using the
pricing module which will not be implemented in assignment 2.
-->
<html xmlns:th="http://www.thymeleaf.org/%22%3E"></html>
    <body>
      <h2> Make a reservation here!</h2>

      <div th:text="${validationError}"></div>

      <form action="#" th:action="@{/reservation}" th:object="${reservationModel}" method="post">
        <label>Enter your name:</label><br>
        <input type="text" th:field="*{fullName}" min="1" max="5000" required="required"/><br>
        <label>Enter your phone number:</label><br>
        <input type="number" th:field="*{phoneNumber}" required="required" /><br>
        <label>Enter your email:</label><br>
        <input type="email" th:field="*{email}" required="required" /><br>
        <label>Enter your reservation date:</label><br>
        <input type="date" th:field="*{date}" th:attr="min=${now}" required="required" /><br>
        <label>Enter your reservation time:</label><br>
        <input type="time" th:field="*{time}" required="required" /><br>

        <input type="submit" name="showAvailableTables" value="Show Available Tables" />
      </form>

      <a href="/profile"><button>Edit Profile</button></a>
      <a href="/reservationhistory"><button>See Reservation History</button></a>

      
      <a href="/combine"><button>Combine</button></a>
      
    </body>

</html>